.footer {
  background-color: rgb(216, 211, 211);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr repeat(4, 0.5fr);
  grid-template-areas: "map facebook mobile whatsapp email";
  padding-top: 15px;

  &__links {
  }
  &__facebook {
    grid-area: facebook;
    align-self: end;
    > img {
      width: 25px;
      height: auto;
    }
  }
  &__mobile {
    grid-area: mobile;
    align-self: end;
    > img {
      width: 25px;
      height: auto;
    }
  }
  &__whatsapp {
    grid-area: whatsapp;
    align-self: end;
    > img {
      width: 25px;
      height: auto;
    }
  }
  &__email {
    grid-area: email;
    align-self: end;
    > img {
      width: 25px;
      height: auto;
    }
  }
  &__map {
    grid-area: map;
    justify-self: center;
    align-self: center;
  }
}
