.hero {
  position: relative;

  &__numberText {
    position: absolute;
    top: 0;
  }
  &__images {
  }
  #slide {
    width: 100%;
    height: 360px;
  }

  &__prev {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: ease-in-out 150ms all;

    &:hover {
      background-color: rgba(0, 0, 0, 0.685);
    }
  }

  &__next {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: ease-in-out 150ms all;

    &:hover {
      background-color: rgba(0, 0, 0, 0.685);
    }
  }
  &__dots {
    text-align: center;

    .dot {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.096);
      border-radius: 50%;
      width: 15px;
      height: 15px;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }

    .active {
      background-color: rgba(0, 0, 0, 0.623);
    }
  }
}
