body{
	margin: 0;
}

#wrapper{
	display: grid;
	grid-template-rows: 75px auto 50px;
	grid-template-columns: 35% 1fr 1fr 1fr;
	grid-template-areas: 
		"img first_header second_header third_header"
		"main main main main"
		"footer footer footer footer";
}

#first_header{
	display: grid;
	background-color: blue;
	color: white;
	grid-area: first_header;
	text-align: center;
	align-content: center;
}

#logo{
	justify-content: center;
	
}

#logo > img{
	height: auto;
	width: auto;
	grid-area: img;
}



#second_header{
	display: grid;
	background-color: red;
	color: white;
	grid-area: second_header;
	text-align: center;
	align-content: center;
}

#third_header{
	display: grid;
	background-color: green;
	color: white;
	grid-area: third_header;
	text-align: center;
	align-content: center;
}		

#main{
	display: grid;
	background-color: black;
	color: white;
	grid-area: main;
	text-align: center;
	align-content: center;
}

#footer{
	display: grid;
	background-color: yellow;
	grid-area: footer;
	text-align: center;
	align-content: center;
}